.section{clear:both;margin:0 auto;padding:0 .6%; width:90%; max-width: 1550px;}
.group:before,.group:after{content:"";display:table}
.group:after{clear:both}
.group{zoom:1}
.col{display:block;float:left;margin:1% 0 1% 1.6%; min-height: 1px;}
.col:first-child{margin-left:0}
.colfirst{margin-left:0}
.collast{margin-right:0}

.col10{display:block;float:left;padding:1% 0 1% 1.6%; min-height: 1px;}
.col10:first-child{padding-left:0}
.col10first{padding-left:0}
.col10last{padding-right:0}


@media only screen and (max-width: 768px) {
.col{margin:1% 0}
.col10{padding:1% 0}
}
.col50 {width:50% }
.col25 {width:25% }
.col33 {width:33.333% }

.col12{width:100%}
.col11{width:91.53%}
.col10{width:83.06%}
.col9{width:74.6%}
.col8{width:66.13%}
.col7{width:57.66%}
.col6{width:49.2%}
.col5{width:40.73%}
.col4{width:32.26%}
.col3{width:23.8%}
.col2{width:15.33%}
.col1{width:6.86%}



.col10_10{width:100%}
.col10_9{width:90%}
.col10_8{width:80%}
.col10_7{width:70%}
.col10_6{width:60%}
.col10_5{width:50%}
.col10_4{width:40%}
.col10_3{width:30%}
.col10_2{width:20%}
.col10_1{width:10%}


@media only screen and (max-width: 768px) {
.section{width:95%}
.col12{width:100%}
.col11{width:100%}
.col10{width:100%}
.col9{width:100%}
.col8{width:100%}
.col7{width:100%}
.col6{width:100%}
.col5{width:100%}
.col4{width:100%}
.col3{width:100%}
.col2{width:100%}
.col1{width:100%}
.col50 {width:100% }
.col25 {width:100% }
.col33 {width:100% }

.col10_10{width:100%}
.col10_9{width:100%}
.col10_8{width:100%}
.col10_7{width:100%}
.col10_6{width:100%}
.col10_5{width:100%}
.col10_4{width:100%}
.col10_3{width:100%}
.col10_2{width:100%}
.col10_1{width:100%}
}
